<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REST API</title>
</head>
<body>    
    <p><a href="{{ url_for('clientes_all') }}">Clientes - All</a></p>
    <p><a href="{{ url_for('produtos_all') }}">Produtos - All</a></p>
    <p><a href="{{ url_for('vendas_all') }}">Vendas - All</a></p>

    <!-- <p>Pesquisar Cliente</p>
    <form action="POST">
        <label for="input_cliente">ID:</label>
        <input type="text" name="input_cliente" id="input_cliente">
        <input type="submit" name="cliente_submit" id="cliente_submit">
    </form>

    <p>Pesquisar Produto</p>
    <form action="POST">
        <label for="input_produto">ID:</label>
        <input type="text" name="input_produto" id="input_produto">
        <input type="submit" name="produto_submit" id="produto_submit">
    </form>

    <p>Pesquisar Venda</p>
    <form action="POST">
        <label for="input_venda">ID:</label>
        <input type="text" name="input_venda" id="input_venda">
        <input type="submit" name="venda_submit" id="venda_submit">
    </form> -->
</body>
</html>